<mat-toolbar color="primary">
    <img src="assets/Logo_Corporativo.png" alt="Logo" />
    <span>Mi Aplicación</span>
    
    <span class="spacer"></span>
    
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>Opción 1</span>
      </button>
      <button mat-menu-item>
        <span>Opción 2</span>
      </button>
      <button mat-menu-item>
        <span>Opción 3</span>
      </button>
    </mat-menu>
  </mat-toolbar>
    
  <app-calculadora [tituloARecibir]="tituloPadre"></app-calculadora>
  
